<div class="background-container" style="background-image: url('assets/7.jpg'); background-size: cover;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <br>
                <br>
                <h1 class="header">CIVIL CONSTRUCTION SERVICE</h1>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/construction/const1.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">
                                        Compound wall brick work using block bricks over RCC tie Beam.
                                    </p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/construction/const2.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">
                                        Renovation Work of a 4 star Hotel.
                                    </p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/construction/const3.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">
                                        3d elevation work of an independent villa.
                                    </p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>