.navbar {
    background-color: #163020;
    margin-bottom: 100px;
}
.navbar a {
    color: #f2f2f2;
}
.logo {
    width: 68px; height: 68px;
}
.dropdown-menu .dropdown-item {
    color: #333;
    font-weight: 700;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #AAC527;
    color: #000;
    cursor: pointer;
    text-align: justify; 
}
.navbar-toggler {
    background-color: #f2f2f2;
}

@media screen and (max-width: 480px) {
    .logo {
        width: 50px;
        height: 50px;
    }
    .navbar {
        padding: 14px;
    }
}