<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <br>
                <h4>About Us</h4>
                <p>With expertise in green buildings, our team designs eco-friendly structures that minimize their environmental footprint without compromising on aesthetics or functionality.</p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <p>Sustainable Plannings</p>
                        <p>Green Building</p>
                        <p>Sustainable Design</p>
                    </div>
                    <div class="col-md-6">
                        <p>Solar Powered</p>
                        <p>Environmental Friendly</p>
                        <p>Natural Vantilated Building</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 services">
                        <br>
                        <h4 class="services">Services</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a>Civil Construction</a>
                            </li>
                            <li class="list-group-item">
                                <a>Interior Designing</a>
                            </li>
                            <li class="list-group-item">
                                <a>Architecture</a>
                            </li>
                            <li class="list-group-item">
                                <a>Water Proofing</a>
                            </li>
                            <li class="list-group-item">
                                <a>Cost Estimation</a>
                            </li>
                            <li class="list-group-item">
                                <a>Consultancy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <h4>Contact Us</h4>
                <p class="name">
                    <span><i class="bi bi-person-vcard-fill h6"></i></span>
                    <a>Er. Aman Sen</a>
                </p>
                <p class="occupation">
                    <span><i class="bi bi-buildings-fill h6"></i></span>
                    <a>B.E Civil, Parmaculturist</a>
                </p>
                <p class="tel">
                    <span><i class="bi bi-telephone-forward-fill h6"></i></span>
                    <a href="tel:9755894431">9755894431/8770257403</a>
                </p>
                <p class="mail">
                    <span><i class="bi bi-envelope-fill h6"></i></span>
                    <a href="mailto:amansen&#64;gmail.com">amansen&#64;gmail.com</a>
                </p>
                <p class="address">
                    <span><i class="bi bi-geo-alt-fill h6"></i></span>
                    <a href='http://maps.google.com/maps?q=New+York+city&hl=en&sll=37.0625,-95.677068&sspn=58.598104,135.263672&vpsrc=1&hnear=New+York&t=m&z=11' target="_blank">
                        Office Address - 127, First Floor, Arihant Complex, Station Road, Beside Gurudwara, Raipur
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                <br>
                <h4>Social Media Links</h4>
                <ul class="mediaLinks">
                    <li>
                        <a href="https://www.instagram.com/green.earth_solutions/" target="_blank" style="text-decoration: none; color: white;">
                            <i class="bi bi-instagram" style="margin-right: 5px;"></i>Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61554602774896&mibextid=LQQJ4d" target="_blank" style="text-decoration: none; color: white;">
                            <i class="bi bi-facebook" style="margin-right: 5px;"></i>Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/aman-sen-b7214915b/" style="text-decoration: none; color: white;" target="_blank">
                            <i class="bi bi-linkedin" style="margin-right: 5px;"></i>Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div class="col-md-12" class="footerLast">
    <div class="row">
        <div class="col-md-4">
            <h4>Social Media Links</h4>
            <ul class="mediaLinks">
                <li>
                    <a href="https://www.instagram.com/green.earthconstructions?igsh=dXJleGEyM2hmc24y&utm_source=qr" target="_blank" style="text-decoration: none; color: white;">
                        <i class="bi bi-instagram" style="margin-right: 5px;"></i>Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61554602774896&mibextid=LQQJ4d" target="_blank" style="text-decoration: none; color: white;">
                        <i class="bi bi-facebook" style="margin-right: 5px;"></i>Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/aman-sen-b7214915b/" style="text-decoration: none; color: white;" target="_blank">
                        <i class="bi bi-linkedin" style="margin-right: 5px;"></i>Linkedin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div> -->