<section>
    <div class="about">
        <div class="container-fluid">
            <!-- <h2 class="header text-capitalize">
                At Green Earth Solutions, <br> We are committed to sustainable planning practices <br> that prioritize the well-being of our planet and future generations.
            </h2>
            <img src="assets/office/4.1.jpg" alt="Our Office" class="office-image"> -->
            <div class="image-container">
                <h2 class="header text-capitalize">
                    At Green Earth Solutions, <br> We are committed to sustainable planning practices <br> that prioritize the
                    well-being of our planet and future generations.
                </h2>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow">
                            <img src="assets/home/20.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Green buildings</h5>
                                <p class="card-text">
                                    With expertise in green buildings, our team designs eco-friendly structures that minimize their environmental footprint without compromising on aesthetics or functionality.
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow">
                            <img src="assets/home/11.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Sustainable Plannings</h5>
                                <p class="card-text">
                                    Harnessing the power of the sun, our solar-powered buildings exemplify our dedication to renewable energy sources and reducing reliance on traditional power grids.
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow">
                            <img src="assets/home/16.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Natural Vantilated Building</h5>
                                <p class="card-text">
                                    Our focus on natural ventilation in building design ensures a healthier and more comfortable indoor environment while reducing energy consumption and costs.
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow">
                            <img src="assets/home/15.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Sustainable Design</h5>
                                <p class="card-text">
                                    We believe in the power of sustainable planning to create a greener, more resilient future for communities and are proud to be a part of this positive change.
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow">
                            <img src="assets/home/19.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Environmental Friendly</h5>
                                <p class="card-text">
                                    From conceptualization to construction, we integrate sustainable principles into every aspect of our green building projects, ensuring long-term environmental benefits.
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow">
                            <img src="assets/home/17.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Solar Powered</h5>
                                <p class="card-text">
                                    With solar-powered buildings, we are not only reducing carbon emissions but also actively contributing towards energy independence and a cleaner, more sustainable world.
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Our passion for natural ventilation leads us to design buildings that prioritize fresh air circulation, reducing the need for artificial cooling or heating systems.
                </li>
                <li class="list-group-item list-group-item-success">
                    Sustainability is at the core of our company's philosophy, and through our sustainable planning expertise, we aim to create a lasting positive impact on the environment and society.
                </li>
                <li class="list-group-item list-group-item-success">
                    By embracing green building practices and solar power integration, we offer innovative solutions that make a difference in both the present and future of our planet.
                </li>
            </ul> -->
        </div>
    </div>
</section>