<div class="background-container" style="background-image: url('assets/7.jpg'); background-size: cover;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <br>
                <br>
                <h1 class="header">INTERIOR DESIGN SERVICE</h1>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/interior/1.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">
                                        3d rendering of Indoor sitting of a restaurant, highlighted by double ceiling height curtains.
                                    </p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/interior/2.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">This card has supporting text below as a natural lead-in to
                                        additional content.
                                    </p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/interior/3.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/interior/4.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/interior/5.jpg" class="card-img-top" alt="image">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Card title</h5> -->
                                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p> -->
                                </div>
                                <!-- <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <h5 style="color: #f2f2f2; text-align: justify;">
        Our team of skilled interior designers is dedicated to understanding your vision and
        translating it into a
        tangible, harmonious reality. Whether you're looking to revamp a single room or overhaul
        your entire home or
        office, we tailor our services to meet your specific requirements. From concept development
        to the final
        touches. We guide you through the entire design process, ensuring that every element aligns
        with your style
        preferences and lifestyle.
    </h5>
</div> -->