<div class="contact">
    <img ngSrc="./assets/home/3.webp" style="object-fit: cover; position: relative; height: 80vh;" fill priority>
    <div class="container-fluid">
        <div class="row contactRow">
            <div class="col-md-6 contactUs">
                <br>
                <h2>CONTACT-US</h2>
                <br>
                <p class="name">
                    <span><i class="bi bi-person-vcard-fill h4"></i></span>
                    <a>Er. Aman Sen</a>
                </p>
                <p class="occupation">
                    <span><i class="bi bi-buildings-fill h4"></i></span>
                    <a>Director (B.E Civil, Parmaculturist)</a>
                </p>
                <p class="tel">
                    <span><i class="bi bi-telephone-forward-fill h4"></i></span>
                    <a href="tel:9755894431">9755894431/8770257403</a>
                </p>
                <p class="mail">
                    <span><i class="bi bi-envelope-fill h4"></i></span>
                    <a href="mailto:amansen9755&#64;gmail.com">amansen9755&#64;gmail.com</a>
                </p>
                <p class="address">
                    <span><i class="bi bi-geo-alt-fill h4"></i></span>
                    <a href='http://maps.google.com/maps?q=New+York+city&hl=en&sll=37.0625,-95.677068&sspn=58.598104,135.263672&vpsrc=1&hnear=New+York&t=m&z=11' target="_blank">
                        Office Address - 127, First Floor, Arihant Complex, Station Road, Beside Gurudwara, Raipur
                    </a>
                </p>
            </div>
            <div class="col-md-6 contactForm">
                <br>
                <h2>LEAVE US A MESSAGE</h2>
                <br>
                <form class="row g-3" [formGroup]="queryForm" (ngSubmit)="submitQuery()">
                    <div class="col-md-8">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Your Name" formControlName="name">
                        <div *ngIf="name.touched && name.invalid" class="invalid-feedback d-block">
                            <small *ngIf="name.errors?.['required']">Name is required.</small>
                        </div>
                    </div>
                
                    <div class="col-md-8">
                        <label for="inputNumber" class="form-label">Number</label>
                        <input type="text" class="form-control" id="inputNumber" placeholder="Your Contact Number"
                            formControlName="number">
                        <div *ngIf="number.touched && number.invalid" class="invalid-feedback d-block">
                            <small *ngIf="number.errors?.['required']">Number is required.</small>
                            <small *ngIf="number.errors?.['pattern']">Number must be a 10-digit Indian phone number</small>
                        </div>
                    </div>
                
                    <div class="mb-3">
                        <label for="message" class="form-label">Type Your Message</label>
                        <textarea class="form-control" id="message" rows="3" formControlName="message"></textarea>
                        <div *ngIf="message.touched && message.invalid" class="invalid-feedback d-block">
                            <small *ngIf="message.errors?.['required']">Message is required.</small>
                        </div>
                    </div>
                
                    <div class="col-12">
                        <button type="submit" class="btn btn-success" [disabled]="queryForm.invalid">Submit</button>
                    </div>
                </form>
                <!-- Success message -->
                <div *ngIf="formSubmitted" class="alert alert-success mt-3" role="alert">
                    Your form has been submitted successfully. We will get back to you soon!
                </div>
            </div>
            <div class="col-md-12" class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3718.4215880263096!2d81.62770987526284!3d21.25477328045171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDE1JzE3LjIiTiA4McKwMzcnNDkuMCJF!5e0!3m2!1sen!2sin!4v1704532991929!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>