<div class="background-container" style="background-image: url('assets/7.jpg'); background-size: cover;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <br>
                <br>
                <h1 class="header">ARCHITECTURE SERVICE</h1>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/3.jpg" class="card-img-top" alt="image">
                                <!-- <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/3.jpg" class="card-img-top" alt="image">
                                <!-- <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to
                                        additional content.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/3.jpg" class="card-img-top" alt="image">
                                <!-- <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/3.jpg" class="card-img-top" alt="image">
                                <!-- <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/3.jpg" class="card-img-top" alt="image">
                                <!-- <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <img src="assets/3.jpg" class="card-img-top" alt="image">
                                <!-- <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This card has even longer content than the first to show
                                        that equal height
                                        action.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>